@model EmployeeManagementApp.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-4">
    <h2>Detail Pegawai</h2>
    <hr />

    <div class="card">
        <div class="card-header bg-info text-white">
            <h5 class="mb-0">Informasi Lengkap Pegawai</h5>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Id)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Id)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Name)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Position)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Position)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Department)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Department)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.JoinDate)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.JoinDate)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Salary)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Salary)</dd>
            </dl>
        </div>
        <div class="card-footer">
            <div class="btn-group">
                <a asp-action="Index" class="btn btn-secondary ml-2">
                    <i class="fas fa-arrow-left"></i> Kembali ke Daftar
                </a>
            </div>
        </div>
    </div>
</div>